{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faq JavaScript</title>
    <link rel="stylesheet" href= "{% static 'faq.css' %}" >
    <link rel="stylesheet" href="D:\html\faq\faq.css">
</head>
<body>
<div class="box">
   <p class="heading">FAQs</p>
   <div class="faqs">
      <details>
         <summary>How many hours I should study for class 11?</summary>
         <p class="text">You must give atleast 6 hours to self study. First clear your basics from NCERT and then jump to other books. NCERT should be on tips. Give 2 hours to main subjects and 45 mins to language subjects.</p>
      </details>
      <details>
         <summary>Which is easy 11 or 12?</summary>
         <p class="text">No, both are same level. If you are in class 11th with conceptually, then you do have to face problem in class 12th. You will find class 12th syllabus easier as compare to class 11th. And, entrances exams also contains about 60% weightage from class 11th.</p>
      </details>
      <details>
         <summary>Which stream is best for future?</summary>
         <p class="text">Science: Science offers many career options such as engineering, medical and research roles. It is the most favourite career option for parents and students.</p>
      </details>
   </div>
</div>
</body>
</html>